.sidebar {
  width: 250px;
  height: 100%;
  max-height: 982px;
  overflow-y: scroll;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -200px;
  top: 0;
  transition: left 0.3s;
  z-index: 1;
  background: #1A1C20;
  box-shadow: 8px 0px 8px 0px rgba(13, 13, 13, 0.15);
}

.sidebar.open {
  left: 0;
  .toggle-button{
    justify-content: start;
    transition: justify-content 0.5s;
  }
  .sidebar{
    background: #1C1E22;
    box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.25);
  }
}

.toggle-button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.close{
  // padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.sidebar_card{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
  background: #24262B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  color: #7A8792;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  .active{
       color: rgba(255, 255, 255, 0.90);
       font-weight: 700;
   }
  .sidebar_card_container{
    padding: 4px 0;
  }
  ::-webkit-scrollbar{
    display: none;
  }
/* Add your additional styles as needed */

.close{
  .sidebar_card_container{
    display: flex;
    justify-content: end;
  }
}

@media only screen and (max-width: 768px){
    .toggle-button{
      display: flex !important;
    }
    .sidebar{
      width: 100vw;
      left: calc(50px - 100vw);
      transition: left 0.5s;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .toggle-button{
    display: flex;
  }
  .sidebar{
     width: 250px;
      left: -200px;
    }
}