@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,600,700");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
  background: #24262B;
}

.main_banner{
  padding: 0 50px;
  background: #1A1C20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left_container{
    padding: 80px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    .heading{
      color: #CFD8DF;
      font-family: 'Montserrat';
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .sign_up_google_cta, .sign_in_with_google_cta{
      display: flex;
      padding: 16px;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      border-radius: 4px;
      background: #1F813C;
      color: #CFD8DF;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      align-self: stretch;
    }
    .sign_in_with_google_cta{
      background: transparent;
      border: 1px solid #7A8792;
      font-weight: 500;
    }
    .divider_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
      // padding: 0 60px;
      color: #7A8792;
      font-family: 'Montserrat';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      .divider{
        border: 1px solid #7A8792;
        width: 45%;
      }
    }
  }
  .right_container{
    background: url('/hero_image.svg') transparent 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 415px;
    height: 412px;
    flex-shrink: 0;
  }
}

.child_component{
  padding: 30px 50px;
  width: 100%;
}
.component_heading{
    display: flex;
    justify-content: start;
    color: #CFD8DF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.invite_banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  background-blend-mode: saturation;
  .right_container{
    display: flex;
    justify-content: start;
    width: 40%;
  }
  .left_container{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    width: 60%;
    .heading , .green_word{
      color: #FFF;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;

    }
    .green_word{
      color: green;
    }
    .sign_up_button{
      border-radius: 4px;
      background: conic-gradient(from 0deg at 50% 50%, #8853FC 0deg, #6E34E2 360deg);
      padding: 16px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #FFF;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: fit-content;
    }
  }
}
.community_banner{
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #2D3035;
  gap: 20px;
  .left_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    .heading{
      color: #B5BEC6;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .image_container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
  .divider{
    border-left: 1px solid #7A8792;
    height: 60px;
  }
  .middle_container{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    border-radius: 4px;
    border: 1px solid rgba(122, 135, 146, 0.50);
    background: #1E2024;
    padding: 12px 16px;
    input{
        border: none;
        background: none;
        color: #7A8792;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        outline: none;
        width: 375px;
        &:hover, &:active &:focus-visible{
            outline: none;
            border: none;
        }
    }
    .sign_up_button{
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      border-radius: 4px;
      background: conic-gradient(from 0deg at 50% 50%, #57AE10 0deg, #1E8139 360deg);
    }
  }
}
.chat_container{
  position: fixed;
  right: 0;
  top: 72px;
  // bottom: 0;
  display: flex;
width: 400px;
height: 100%;
padding: 16px 18px;
flex-direction: column;
align-items: flex-start;
gap: 9.405px;
flex-shrink: 0;
border-radius: 7.524px 0px 0px 7.524px;
background: #1A1A1A;
box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);

.chat_room{
  display: flex;
  padding: 3.762px 30.096px 11.286px 30.096px;
  justify-content: center;
  align-items: center;
  gap: 7.524px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Montserrat;
  font-size: 15.048px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  }
  .divider{
    border: 0.47px solid;
    background: radial-gradient(9169799.78% 66.26% at 50% 49.74%, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 100%;
  }
  .navTab{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.90);
    font-family: Montserrat;
    font-size: 13.167px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    .navTab_item{
      display: flex;
      justify-content: center;
      align-items: center;
       padding: 8px;
    }
  }
  .chats_container{
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.405px;
  align-self: stretch;
  .chats{
    display: flex;
    width: 282px;
    padding: 9.405px 13.167px;
    justify-content: center;
    align-items: center;
    // gap: 9.405px;
    border-radius: 5.643px;
    background: linear-gradient(93deg, rgba(54, 54, 54, 0.50) 6.11%, rgba(44, 44, 44, 0.50) 98.79%);
    box-shadow: 0px 3.76205px 3.76205px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 13.167px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.81px; /* 142.857% */
  }
  .sender{
    display: flex;
    align-items: center;
    gap: 7px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 11.286px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.286px;
    padding: 4px 0;

  }
  }
  .footer{
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    position: fixed;
    bottom: 10px;
    gap: 10px;
    .input{
      display: flex;
      width: 314px;
      padding: 10.346px 14.108px;
      // justify-content: center;
      align-items: center;
      gap: 75.241px;
      border-radius: 5.643px;
      background: rgba(46, 46, 46, 0.70);
      color: #FFF;
      font-family: Montserrat;
      font-size: 13.167px;
      font-style: normal;
      font-weight: 400;
      line-height: 18.81px; /* 142.857% */
    }
    .send_button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #1EAF76;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

@media only screen and (max-width: 768px){
  .child_component{
    padding: 20px;
  }
  .main_banner, .invite_banner{
    .right_container{
        display: none !important;
      }
  }
    .left_container{
      width: 100% !important;
      padding: 30px 20px !important;

     .sign_up_google_cta, .sign_in_with_google_cta{
        font-size: 14px !important;
     }
    }
    .sign_up_button{
      padding: 16px 40px !important;
      font-size: 14px !important;
    }
    .community_banner{
      padding: 16px !important;
      flex-direction: column !important;
      .left_container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 !important;
      }
      .middle_container{
        display: none;
      }
      .right_container{
        width: 100% !important;
        input{
          width: 140px !important;
        }
        .sign_up_button{
          padding: 10px 20px !important;
        }
      }
    }
    .chat_container{
      width: calc(100% - 50px);
      .footer{
        width: calc(100% - 100px);
      }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .child_component{
    padding: 20px;
  }
  .main_banner{
    padding: 0 20px;
    .left_container{
      padding: 20px;
    }
  }
  .main_banner, .invite_banner{
    .right_container{
        width: 255px;
        height: 320px;
      }
  }
  .invite_banner{
    .left_container{
        width: 100%;
        padding: 20px;
        .heading{
          font-size: 28px !important;
        }
    }
    .right_container{
      display: none;
    }
  }
   .community_banner{
      padding: 16px !important;
      flex-direction: column !important;
      .left_container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 !important;
        width: 100%;
      }
      .middle_container{
        display: none;
      }
      .right_container{
        width: 100% !important;
        input{
          width: 140px !important;
        }
        .sign_up_button{
          padding: 10px 20px !important;
        }
      }
    }
    .chat_container{
      width: calc(50% - 50px);
      .footer{
        width: calc(50% - 80px);
      }
    }
}